body {
    background-color:#006699;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    
}
.contenedor {
    max-width: 400px;
    background-color: #ffffff;
    margin: 0.5em auto;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
   
}

header {
    margin: 1em;
    padding: 10px;
    color:#006699;
    font-weight: bold;
}

.acciones {
margin: 20px;
}

.string {
  width:100% ;
  padding: 10px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 0.4rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  border: solid #ccc 1px;
}

.boton {
  border: 0px;
  background-color: #006699;
  padding: 15px 40px;
  color: #ffffff
}

.label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.offset {
  padding: 5px 5px;
  width: 15%;
  line-height: 10px;
  border: solid #ccc 1px;
  border-radius: 0.4rem;
  
}

.caja-solucion {
    background-color: #ffffff;
    min-height: 100px;
    border: solid #ccc 1px;
    border-radius: 0.4rem;
    box-sizing: border-box;
    margin-bottom: 30px;
    width:100% ;
    padding: 10px;
    height: 100px;

}
    

